footer {
  background: #f1f1f1;
  .container {
    // padding-left: 100px;
    // padding-right: 100px;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      p {
        font-size: 14px;
        line-height: 18px;
        font-family: pb;
        font-weight: bold;
      }
    }
    .item {
      display: flex;
      gap: 40px;
    }
    .right {
      text-align: right;
      .icont {
      }
      .faq {
        a {
          margin-left: 10px;
          font-size: 14px;
          line-height: 30px;
          color: $black-cl;
        }
      }
    }
  }
}
