// css header
header {
  z-index: 1000;
  display: flex;
  height: var(--height-header);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(16px);
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      margin-left: 100px;
      height: 35px;
    }
    .right {
      display: flex;
      align-items: center;
      .menu {
        & ul {
          display: flex;
          align-items: center;
          gap: 24px;
          & li {
            & a {
              font-size: 16px;
              line-height: 30px;
              cursor: pointer;
              color: $black-cl;
            }
          }
        }
      }
    }
  }
}
