.hero-banner {
  & img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
.why-yo-living {
  background: $white-cl;
  position: relative;
  .title {
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 1px;
    text-align: center;
    max-width: 997px;
    font-family: pr;
    margin: 200px auto 100px auto;
    & span {
      color: $orange-cl;
    }
  }
  .wel-img {
  }
  .welcome {
    max-width: 1045px;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    .vector-img {
    }
    &__content {
      margin-left: 400px;
      .text {
        max-width: 500px;
        bottom: 10px;
        right: 40%;
        position: absolute;
        &__wel {
          font-style: italic;
          font-weight: 300;
          font-size: 72px;
          line-height: 72px;
          color: $black-cl;
          font-family: pb;
          letter-spacing: 1px;
        }
        & p {
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 30px;
          font-family: pr;
          margin-top: 48px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
.make-the-city {
  margin: 0 auto;
  width: 100%;
  z-index: 10;
  position: relative;
  display: flex;
  .container {
    display: flex;
    text-align: center;
    padding-left: 200px;
    padding-right: 100px;
    img {
      position: relative;
    }
    .makeTop {
      display: flex;
      z-index: 99;
      &__title {
        max-width: 420px;
        font-style: italic;
        font-weight: 300;
        font-size: 72px;
        line-height: 72px;
        color: $black-cl;
        font-family: pb;
        letter-spacing: 1px;
        position: absolute;
        right: 30%;
      }
    }
    .makeBot {
      position: absolute;
      top: 50%;
      z-index: 1;
      display: flex;
      align-items: center;
      & p {
        font-family: pr;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        color: $black-cl;
        max-width: 500px;
        margin-top: 150px;
        margin-right: 100px;
      }
    }
  }
}
.choice {
  position: relative;
  & img {
    width: 100%;
    height: 700px;
  }
  & h1 {
    position: absolute;
    top: 40%;
    font-size: 100px;
    font-style: italic;
    font-family: pb;
    line-height: 110px;
    text-align: center;
    color: #ffffff;
    max-width: 850px;
    height: 220px;
    margin-left: 120px;
  }
}
.Living-hub-yo {
  background: #fff4ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 140px;
    line-height: 240px;
    color: #323232;
    text-align: center;
    margin-bottom: 60px;
  }
  .yoTop {
    display: flex;
    &__img {
      position: relative;
      left: -250px;
    }
    h2 {
      font-family: pb;
      font-size: 140px;
      line-height: 120px;
      color: $orange-cl;
      max-width: 660px;
    }
    p {
      margin-top: 60px;
      font-family: pr;
      font-size: 32px;
      line-height: 40px;
      max-width: 640px;
    }
  }
  .yoBot {
    margin-top: 120px;
    display: flex;
    align-items: center;
    position: relative;
    &__img {
      height: 540px;
      max-width: 708px;
      margin-bottom: 150px;
    }
    &__right {
      p {
        font-family: pr;
        color: $black-cl;
        font-size: 18px;
        line-height: 30px;
        margin-left: 126px;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
      }
      .btn {
        @include btn;
        margin-left: 126px;
      }
      img {
        bottom: 10px;
        position: absolute;
      }
    }
  }
}
.Living-hub-pre {
  background: #f1f1f1;
  .container {
    display: flex;
    flex-direction: column;
    .preTop {
      display: flex;
      margin-bottom: 120px;
      margin-top: 155px;
      img {
        position: relative;
        left: -150px;
      }
      &__des {
        h2 {
          font-family: pb;
          font-size: 140px;
          line-height: 120px;
          color: #2d3389;
          max-width: 660px;
        }
        p {
          margin-top: 60px;
          font-family: pr;
          font-size: 32px;
          line-height: 40px;
          max-width: 640px;
        }
      }
    }
    .preBot {
      display: flex;

      &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        p {
          max-width: 486px;
          font-size: 18px;
          line-height: 30px;
          font-family: pr;
          margin-bottom: 50px;
        }
        a {
          @include btn;
          max-width: 130px;
          text-align: center;
          z-index: 2;
        }
        img {
          position: relative;
          top: -50px;
          left: -20px;
          max-width: 100%;
          height: auto;
          margin-bottom: -130px;
        }
      }
      &__img {
        cursor: pointer;
        margin-left: 200px;
      }
    }
  }
}
.service {
  padding-top: 200px;
  .container {
    padding-left: 100px;
    padding-right: 100px;
    .furniture {
      display: flex;
      justify-content: space-between;
      &__left {
        &--title {
          @include title;
        }
        &--content {
          margin-left: 20%;
          @include content;
        }
      }
      &__right {
        &-ctl {
          display: flex;
          justify-content: space-between;
          .line {
          }
          .btn {
            margin-top: 40px;
            display: flex;
            height: 64px;
            gap: 24px;
            &__pre {
              width: 64px;
              border: 1px solid $black-cl;
              border-radius: 50%;
              cursor: pointer;
              transition: 0.4s;
              &:last-child {
                transform: rotate(180deg);
              }
              a {
                img {
                  margin: 23px 23px;
                }
              }
              &:hover {
                background: #323232;
                transition: 0.4s;
              }
            }
          }
        }
      }
    }
    .bonus {
      display: flex;
      justify-content: space-between;
      &__right {
        &--title {
          @include title;
        }
        &--content {
          @include content;
        }
      }
    }
  }
}
.reason {
  margin-top: 200px;
  background-image: url(../../../img/reason-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 920px;
  width: 100%;
  position: relative;
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  &__semi {
    position: absolute;
    left: 0;
    top: calc(65% - 50px);
    z-index: 1;
  }
  &__content {
    position: absolute;
    display: flex;
    color: white;
    &-left {
      h2 {
        font-size: 100px;
        line-height: 200px;
        font-family: pr;
        font-style: italic;
      }
      p {
        font-size: 48px;
        line-height: 54px;
        font-family: pr;
        max-width: 632px;
      }
    }
    &-right {
      margin-top: 200px;
      h2 {
        @include title($color: $white-cl, $mwidth: 380px);
      }
      @include content($color: $white-cl, $mwidth: 492px);
      &--ctl {
        display: flex;
        justify-content: space-between;
      }
      .btn {
        margin-top: 40px;
        display: flex;
        height: 64px;
        gap: 24px;
        &__pre {
          width: 64px;
          border: 1px solid $white-cl;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.4s;
          &:last-child {
            transform: rotate(180deg);
          }
          a {
            img {
              margin: 23px 23px;
            }
          }
          &:hover {
            background: $white-cl;
            transition: 0.4s;
          }
        }
      }
    }
  }
}
.products {
  z-index: 10;
  position: relative;
  padding-top: 100px;
  .container {
    padding-left: 100px;
    padding-right: 100px;
    & .product {
      &__title {
        display: flex;
        justify-content: space-between;
        h2 {
          font-size: 48px;
          line-height: 54px;
          font-family: pr;
          max-width: 588px;
        }
        .btn {
          margin-top: 40px;
          display: flex;
          height: 64px;
          gap: 24px;
          &__pre {
            width: 64px;
            border: 1px solid $black-cl;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.4s;
            &:last-child {
              transform: rotate(180deg);
            }
            a {
              img {
                margin: 23px 23px;
              }
            }
            &:hover {
              background: #323232;
              transition: 0.4s;
            }
          }
        }
      }
      &__product {
        margin-top: 58px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        &-item {
          &--des {
            h3 {
              font-size: 18px;
              font-family: pr;
            }
          }
        }
      }
    }
  }
}
.add {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../img/hero-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 700px;
  margin-top: 100px;
  position: relative;
  .container {
    padding-left: 100px;
    padding-right: 100px;
    h2 {
      position: absolute;
      bottom: 40%;
      font-size: 100px;
      line-height: 110px;
      color: #ffffff;
      font-style: italic;
    }
  }
}
.gallerys {
  background: #f1f1f1;
  padding-top: 100px;
  padding-bottom: 250px;
  .container {
    padding-left: 100px;
    padding-right: 100px;
    .gallery {
      &__title {
        display: flex;
        align-items: center;
        h1 {
          font-size: 140px;
          line-height: 120px;
          font-style: italic;
          font-family: pb;
        }
        .btn {
          margin-top: 40px;
          display: flex;
          height: 64px;
          gap: 24px;
          &__pre {
            width: 64px;
            border: 1px solid $black-cl;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.4s;
            &:last-child {
              transform: rotate(180deg);
            }
            a {
              img {
                margin: 23px 23px;
              }
            }
            &:hover {
              background: #323232;
              transition: 0.4s;
            }
          }
        }
      }
      &__content {
        display: flex;
        align-items: center;
        margin-top: 80px;
        &-add {
          margin-right: 100px;
        }
        &-des {
          padding-left: 50px;
        }
      }
    }
  }
}
.forms {
  position: relative;
  img {
    width: 100%;
    height: 690px;
    z-index: 1;
  }
  .container {
    padding-left: 100px;
    padding-right: 100px;
    .form {
      position: absolute;
      bottom: calc(50% - 225px);
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__title {
        max-width: 540px;
        margin-right: 172px;
        h3 {
          font-size: 48px;
          line-height: 54px;
          font-family: pr;
          font-style: italic;
          color: $black-cl;
        }
      }
      &__contacts {
        max-width: 468px;
        height: 450px;
        background: #fff4ee;
        form {
          .text {
            width: 380px;
            font-size: 16px;
            line-height: 24px;
            display: block;
            margin-bottom: 20px;
            margin-left: 52px;
            margin-right: 52px;
            border: none;
            outline: none;
            height: 50px;
            border-bottom: 1px solid rgba(172, 172, 172, 0.5);
          }
          .select {
            width: 380px;
            font-size: 16px;
            line-height: 24px;
            display: block;
            margin-bottom: 20px;
            margin-left: 52px;
            height: 50px;
            margin-right: 52px;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(172, 172, 172, 0.5);
          }
          .checkbox {
            margin-bottom: 20px;
            margin-left: 52px;
          }
          margin-bottom: 30px;
        }
        a {
          @include btn;
          margin-left: calc(50% - 50px);
        }
      }
    }
  }
}
